{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sent Successfuly</title>

</head>
<div class="page">
    <div class="page-content">
        <div class="content-area">
            <div class="animated-sections">
                <section data-id="home" class="animated-section start-page">
                    <div class="section-content vcentered">

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="title-block">
                                    <h2 style="color:green;">Your message sent successfully</h2>
                                    <a href="{{ sent }}"><h3>Click here for backing to Home</h3></a>
                                    <div class="owl-carousel text-rotation">
                                        <div class="item">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End of Home Subpage -->
            </div>
        </div>
    </div>
</div>
</body>
</html>